@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Roboto:ital,wght@1,400;1,700&display=swap');
/* Reset classes */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --padding-inline-section:1em;
}
body{
    font-family: 'Poppins',sans-serif;
color:var(--primary-text-color); 
overflow-x: hidden;   
}
h1{
    font-size:clamp(3rem,1rem+10vw,2rem) ;
}
h2{
    font-size:clamp(2rem,1rem,0.5rem) ;
}
h3{
    font-size:clamp(1.5rem,1rem,0.5rem) ;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color:var(--secondary-text-color);
    line-height:1.8rem
}
a{
    text-decoration: none;
    display: inline-block;
   color:white;
}
li{
    list-style-type: none;
    
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1140px;
    margin-inline: auto;
    padding-inline: 30px var(--padding-inline-section);
}
.dark{
    color:white;
    background-color:  #041334;
}
/* Navbar */
.main-nav{
    justify-content: space-between;  
    align-items: center;
    padding:20px;
    position: relative;
    top:0;
   
   
    
}
.checkbtn{
    font-size: 36px;
    float:right;
    cursor: pointer;
    display: none;

}
.toggle_menu{
    position: absolute;
    top: 66px;
    height: 0;
    right: 4px;
    max-width: 100vw;
    background: rgba(10,10,0,0.5);
    backdrop-filter: blur(15px);
    display: none;
    background-size: cover;
    overflow: hidden;
    padding: 0px;

}
#check{
    display: none;
}
.nav-links{
    flex-basis: 700px;
}
.nav-links ul{
gap:40px;

}
.hover-links{
    transition: 0.1s ease-out;
   
}
.hover-links:hover{
color:var(--accent-color);

}
/* today crpto text */
.big-text{
    font-size:24px;
    margin-bottom: 10px;

}
/* crypto-chart */

 th,tr{
   padding:8px 54px;
   line-height: 60px;
 }
.crypto-chart{
    align-items: flex-start;
}
.chart-logo img{
    max-width:40px;
    min-height:40px;
}

.crypto-chart-container,.crypto-table{
    max-width:100%;
    margin-top: 30px;
}
.side-text{
    color: #858585;
    font-size: 16px;

}
.table-data{
    gap:20px;
   margin-left: 116px;
   text-align: center;
}
.green{
    color:#14FF00;

}
.green-chart{
    max-width:58px;
    min-height:22px;
}
.view-btn-flex{
    justify-content: center;
    align-items: center;

}
.view-all-btn{
    margin-top: 20px;
    min-height: 60px;
    max-width:200px;
    border: 2px solid bisque;
background: linear-gradient(90deg, #3DD8EE 0%, #0997E8 100%);
border-radius: 8px;
font-size: 20px;
text-align: center;
color:white;
cursor: pointer;

padding:0px 20px;

}
/* feature-section */
.feature-flex{
    gap:60px;
    margin-top: 30px;
}
.feature-img{
    position: relative;
    margin-top: -87px;
}
.world-map{
    max-width: 90vw;
}

.text1,.text2,.text3{
font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 23px;
gap:7px;


}
.tex1,.Rectangle{
    position: absolute;
    top: 11.24%;
    left: 30.73%;
    right: 66.34%;
    bottom: 53.81%;
    height: 55px;
    width: 142px;
    align-items: center;
    z-index: 1;
}
.tex2,.Rectangle2{
    position: absolute;
    top: 36.07%;
    left: 46.83%;
    right: 57.19%;
    bottom: 48.81%;
    height: 58px;
    width: 144px;
    align-items: center;
    z-index: 1;
}
.text3{
    position: absolute;
    left: 10.25%;
    right: 66.4%;
    top: 34.48%;
    bottom: 45.57%;
    height: 28px;
    width: 165px;
}
    

.Rectangle3{
    position: absolute;
    left: 16.25%;
    right: 66.4%;
    top: 53.48%;
    bottom: 11.57%;
    height: 63px;
    width: 183px;
    align-items: center;
    z-index: 1;
}


.text1  img,.text2 img{
    margin-left: 8px;
}


.Rectangle,.Rectangle2,.Rectangle3{
background: #0A1B2B;

}
.elipse,.img-logo{
    position: relative;
    
}
.elipse1{
    position: absolute;
    left: 16.32%;
    /* right: 34rem; */
    bottom: 96px;
    /* top: 57%; */
    height: 283px;
    width: 292px;
   
}
.elipse2{
    position: absolute;
    /* top: -116px; */
    bottom: 5rem;
    left: 5em;
    height: 287.0000027526328px;
    width: 245.81045767984725px;
    transform: rotate(20.62deg);

}


.shiba{
    position: absolute;
    top: -21rem;
    left: 6rem;
}
.ethereum{
    position: absolute;
    top: -21rem;
    left: 19rem;
}
.bitcoin{
    position: absolute;
    top: -10rem;
    left: 18rem;
}
.logoback{

background-color: #0F1535;
padding:28px 33px;
margin-top: 20px;
}
.sub-text{
    margin-top: 20px;
}
.feature-text > h2{
margin-bottom: 24px;
font-family: Poppins;
font-size: 36px;
font-weight: 500;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
margin-top: -34px;


}
.sub-head{
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}
.feature-section{
    background-color: #00092A;
    padding: 43px 20px;
    margin-top: 30px;
    
}
.sub-feature{
    gap:21px;
}
/* Reason-section */
.reason-head{
font-family: Poppins;
font-size: 36px;
font-weight: 600;
line-height: 54px;
height: 108px;
width: 426px;
left: 98px;
top: 58px;
position: absolute;



}
.Reason{
    position: relative;
}
.text-all p{
    width:37vw;
    
}
.bullet-text{
    position: absolute;
    top: 227px;
    left: 88px;
    gap: 12px;
    align-items: start;
    width:14rem;
}
.small-p-text{
    position: absolute;
    top: 17rem;
    left: 8rem;
}
.bullet-text2
{
    position: absolute;
    top: 36rem;
    left: 88px;
    gap: 12px;
    align-items: start;
}
.small-p-text2{
    position: absolute;
    top:38rem;
    left: 8rem;
}
.bullet-text1
{
    position: absolute;
    top: 401px;
    left: 88px;
    gap: 12px;
    align-items: start;
}
.small-p-text1{
    position: absolute;
    top: 27.5rem;
    left: 8rem;
}
.box{
    height: 550px;
    width: 365px;
    border: 2px solid #577592;
    margin-top: 100px;
    background: linear-gradient(180.04deg, rgba(4, 19, 52, 0.1) 7.84%, rgba(15, 37, 84, 0.2) 138.42%), linear-gradient(15deg, #142346, #142346);
    border-radius: 50px;
    position: relative;


}
.Reason-flex{
    justify-content: space-between;
    align-items: center;
}
/* portfolio section */

.graph1{
    position: absolute;
    top: 110px;
    left: -8rem;
    z-index: -1;
}
.circle1{
    position: absolute;
    top: 170px;
    left: -1rem;
    
}
.graph2{
    position: absolute;
    top: 154px;
    left: -8rem;
    z-index: -1; 
}
.circle2{
    position: absolute;
    top: 187px;
    left: -3.5rem;
    
}
.graph3{
    position: absolute;
    top: 235px;
    left: -8rem;
    z-index: -1;
}
.circle3{
    position: absolute;
    top: 245px;
    left: -1.5rem;
    
}
.graph4{
    position: absolute;
    top: 286px;
    left: -8rem;
    z-index: -1;
}
.circle4{
    position: absolute;
    top: 23.7rem;
    left: -1.5rem;
    
}
.graph5{
    position: absolute;
    top: 367px;
    left: -8rem;
    z-index: -1;
}
/* inside portfolio */
.port-heading{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    
    position: absolute;
    top: 38px;
    left: 35px

}
.font18{
font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
}
.font16{
 font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px; }
.row{
    justify-content: space-around;
    margin-top: 90px;
}
.row1{
    justify-content: space-around;
    margin-top: 30px;
}
.currency{
    gap:20px;
}
/* footer-section */
footer{
    background: #00092A;
    margin-top: 9rem;
    padding: 23px 74px 51px;
}
.main-footer{
    margin-top: 60px;
    gap:110px;
   max-width: max-content;
    align-items: flex-start;
}
.footer-head{
flex-direction: column;
gap:5px;
text-align: left;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 36px;
align-items: flex-start;
width:180px;

}
.footer-head ul li a{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;


}
                                                                                                                                                                                                                                                                                                                                                                                               
.summary{
    margin-top:20px;
    max-width:600px
}
/* sub-footer */
.sub-footer{

    padding:14px 20px ;
    
   }
   .sub-footer-container{
    gap:80px;
    align-items: center;
    
   }
   .sub-footer-terms,.sub-footer-social{
    gap:30px;
   }
   .sub-footer-terms a,.sub-footer-social a{
    font-size: 1.2rem;
   }
.sub-footer-terms a:hover{
   color:#2294ed; 
}

/* Responsive design */
@media(max-width:992px){
    .company-logo img{
        width:200px;
        padding-inline: 20px;
    }
    .main-nav{
        justify-content: space-around;  
        align-items: center;
        padding:20px;
    }
    .nav-links ul{
    
        gap:20px;
        }
        .feature-flex {
            gap: 60px;
            margin-top: 77px;
            flex-wrap: wrap;
        }
        .feature-section{
        gap: 49px;
        margin-top: 94px;
        
        flex-direction: column;
    
    }
        
}

@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    .nav-links ul,.search-logo{
        display: none;
    }
   
    .toggle_menu {
        display:flex;
        gap:50px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 1;
    }
    .open{
        height:100vh;
        padding: 30px;
    }

    .toggle_menu ul {
    flex-direction: column;
    gap:30px;     
    justify-content: center;
    align-items: center;
    
        
        }
        .toggle_menu ul a{
            margin-top: 30px;
        }
        th,tr{
            padding:1px 23px;
            line-height: 60px;
          }
          td{
            margin-right: 5px;
          }
          .side-text{
            font-size: 14px;
            margin-right: 5px;
          }
          th{
            line-height: 20px;
          }
          .table-data {
            gap: 6px;
            margin-left: 81px;
            text-align: center;
        }
                                                                          
          .crypto-chart{
            position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
    min-height: 100vh;
    margin-bottom: 114px;
    margin-top: -15px;
          }
          .crypto-table{
            position:absolute;
            left:-80px;
            top:-15px;
            margin-bottom: 161px;
            
          }
          .view-all-btn{
            position: absolute;
    /* top: 0; */
    bottom: -148px;}
       
    
    .feature-flex {
        gap: 60px;
        margin-top: 77px;
        flex-wrap: wrap;
    }
    .feature-section{
    gap: 49px;
    margin-top: 94px;
    background-size: cover;
    flex-direction: column;

}
/* footer */
.main-footer{
    flex-direction: column;
    gap:50px;
}
/* for mobile */
@media (max-width:576px){
   html,body{ overflow:hidden;
width:100%;}
    .main-nav{
        justify-content: space-between;  
        align-items: center;
        padding:20px;
    }
    .toggle_menu{
        display:flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        left:0;
        z-index: 1;
        
    }
    .toggle_menu ul {
        flex-direction: column;
        gap:30px;     
        justify-content: center;
        align-items: center;
        margin-top: -38rem 
            }
    .toggle_menu ul a{
       
        font-size: small;
    }
    .open{
        height:150vh;
        padding: 20px;
    }
    .checkbtn{
        display:block;
    }
    /* today section */
    .big-text {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight:300;
    }
    
    
    
    /* table */
    th,tr{
        padding:0px 0px;
        line-height: 60px;
      }
      td{
        margin-right: 5px;
      }
      .side-text{
        font-size: 14px;
        margin-right: 5px;
      }
      .green-chart {
        max-width: 35px;
        min-height: 22px;
    }
      th{
        line-height: 20px;
      }
      .table-data {
        gap: 6px;
        margin-left: 88px;
        text-align: center;
    }
      .crypto-chart{
        position: relative;
        top:0;
        left:0;
        max-width: 100vw;
        height: 100vh;
        margin-bottom: 230px;
        margin-top: -10px;
      }
      .crypto-table{
        position:absolute;
        left:-80px;
        top:-15px;
        margin-bottom: 100px;
        
        max-width: 100vw;
      }
        .view-all-btn{
            position: absolute;
    /* top: 0; */
    bottom: -130px;
    left: 158px;
          }
          .feature-section {
            background-color: #00092A;
            padding: 22px 0px;
            margin-top: 30px;
            background-size: cover;
        }
        
        .feature-img {
            position: relative;
            margin-top: -59px;
            margin-left: -73px;
        }
        .feature-flex{
            flex-wrap: wrap;
        }
        
        .feature-text > h2 {
            margin-bottom: 7px;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: -34px;
        }
        /* Reason */
        .reason-head {
            font-family: Poppins;
            font-size: 28px;
            font-weight: 600;
            line-height: 38px;
            /* height: 108px; */
            /* width: 426px; */
            left: 33px;
            top: 34px;
            position: absolute;
        }
        .text{
            flex-wrap:wrap;
            gap:30px;
        }
        .row1 {
            justify-content: space-around;
            margin-top: 22px;
        }
        .font16 {
            font-family: Poppins;
            font-size: 13px;
            font-weight: 400;
            line-height: 19px;
        }
        .font18{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
        }
        .currency img{
            height:50px;
            width:50px;
        }
        .box{
    height: 495px;
    width: 280px;
    border: 2px solid #577592;
    margin-top: 61rem;
    background: linear-gradient(180.04deg, rgba(4, 19, 52, 0.1) 7.84%, rgba(15, 37, 84, 0.2) 138.42%), linear-gradient(15deg, #142346, #142346);
    border-radius: 50px;
    position: relative;
    /* margin-top: 1050px; */
    padding-inline: 20px;
    margin-left: -5px;
    left: -76px;
        }
        .port-heading {
            font-family: Poppins;
            font-size: 19px;
            font-weight: 400;
            line-height: 33px;
            position: absolute;
            top: 36px;
            left: 34px;
        }
        .small-p-text{
            position: absolute;
            top: 16rem;
            left: 1rem;
        }
        .small-p-text1{
            position: absolute;
            top: 32rem;
            left: 1rem;
        }
        .small-p-text2{
            position: absolute;
            top: 50rem;
            left: 1rem;
        }
        .text-all p {
            width: 100vw;
        }
        .bullet-text {
            position: absolute;
            top: 192px;
            left: 6px;
            gap: 7px;
            align-items: start;
            width: 60vw;
        }
        .bullet-text1 {
            position: absolute;
            top: 444px;
            left: 6px;
            gap: 7px;
            align-items: start;
        }
        .bullet-text2 {
            position: absolute;
            top: 688px;
            left: 6px;
            gap: 7px;
            align-items: start;
        }
        .bullet-text1,.bullet-text2{
            width: 60vw;
        }
        .text-all{
            position: absolute;
    top: -15px;
    left: 10px;
        }
    
}
.main-footer{
    flex-direction: column;
    gap:50px;
}
.sub-footer-terms{
    
    font-size: 10px;
}
   
}